$display-width: 100px;
$display-height: 100px;
$marker-height: 20px;

$primary-color: #000;
$secondary-color: #fff;

.temperature {
    text-align: center;

    &__circle {
        width: $display-width;
        height: $display-height;
        border: 5px solid $primary-color;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__line {
        background-color: $secondary-color;
        position: absolute;
        width: 4px;
        border-radius: 2px;
        height: calc($display-height - $marker-height);
        border-bottom: $marker-height solid $primary-color;
        transition: all ease-in 250ms;
        }

    &__min-max {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: $display-height;
        height: 20px;
    }

    &__min-max-line {
        width: 5px;
        height: 20px;
        background-color: $primary-color;
        position: absolute;
        border-radius: 3px;
    }

    &--min-line {
        left: 0;
        transform: rotate(45deg);
    }
        
    &--max-line {
        right: 0;
        transform: rotate(-45deg);
    }

    &__text {
        margin-top: 10px;
        font-size: 18px;
    }
}
